input {
  padding: 10px;
  border-radius: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
}

#upload {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

#headerSection {
  padding: 2px;
  font-family: Cursive;
color: white;
}

#loginSection {
  padding: 5px;
  color:  #C4A484;

  
}

body {
   background-image: url('https://www.theglobeandmail.com/resizer/zs5-vvmnd2-hd3j00L0877n0xTE=/1200x0/filters:quality(80):format(webp)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/BVIGHOSPVRBLFLVST5UY5JCXOA');
}

#loginbtn {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#reglink {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

#mainSection {
  padding: 10px;
}

#profileSection {
  width: 30%;
  float: left;
  background-color: white;
  padding: 20px;
}

#groupSection {
  width: 60%;
  float: right;
  background-color: white;
  padding: 20px;
}

#back-button {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#logout-button {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
